body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-image: url('images/fondo.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* La imagen de fondo se fija y no se desplaza */
    min-height: 100vh; /* Asegura que el fondo cubra al menos la altura de la ventana del navegador */
    display: flex;
    flex-direction: column;

}

/* Estilos para el encabezado */
header {

    color: white;
    text-align: none;
    padding: 40px 40px;
    align-self: auto;
    text-align: center;
    
}
header img.header-img {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: 150px;
    border-radius: 50%; /* Hace que la imagen sea redonda */
    margin-bottom: 20px;
    
}

header h1 {
    margin: 0;
    font-size: 5.5em; /* Tamaño del encabezado*/
    display: inline-block;
    
    
    
}

/* Estilos para secciones generales */
section {
    padding: 40px;
}

h2 {
    color: #ffcf40;
}

/* Estilos para la sección 'Sobre Mí' */
#about {

    padding: 40px 40px;
}

#about p {
    font-size: 1.2em;
    line-height: 1.6em;
}

/* Estilos para la sección 'Proyectos' */
#projects .project {

    border-bottom: 1px solid #ccc; 
    padding-bottom: 20px;


}

#projects .project:last-child {
    
    border-bottom: none;
    margin-bottom: 0;
    margin: 0px;
}

#projects h3 {
    color: #16A085;
}

#projects p {
    font-size: 1em;
    line-height: 1.4em;
}

/* Estilos para la sección 'Habilidades' */
#skills ul {
    background-color: #f6aeb5;
    list-style-type: none;
    padding: 0;
    columns: 2;
}

#skills li {
    display: inline-block;
    width: 100%;
    font-size: 1em;
    margin-bottom: 5px;
}

/* Estilos para la sección 'Contacto' */
#contact form {
    max-width: 600px;
    margin: 0 auto;
}

#contact form input,
#contact form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
    border-radius: 4px;
}

#contact form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 4px;
}

#contact form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer p {
    margin: 0;
}

footer .social-media {
    margin-top: 10px;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media a:hover {
    text-decoration: underline;
}
